---
---

<footer>
  <a 
    href="https://github.com/BBuchholz/"
    target="_blank"
  >
    GitHub
  </a>
  <a 
    href="https://linktr.ee/Polterkreist"
    target="_blank"
  >
    LinkTree
  </a>
</footer>

<style>
  
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }

</style>